<H1>How good you know Star Wars</H1>
<app-toolbar></app-toolbar>
<div class="container">
  <hr/>
  <app-test-item
    *ngFor="let test of tests"
    [test]="test"

  ></app-test-item>

</div>

<p>Tries: count.tries</p>

