h1{
  text-align: center;
  color: gray;
  font-size: 30px;
}

.container{
  width: 800px;
  height: 100%;
  margin: auto;
}

.testForm{
  border: 2px solid black;
}

.testNumber{
  text-align: center;
}

.testQuestion{
    text-align: center;
}

.userinput{
  margin: 0 auto;
}
