<form (ngSubmit)="createAnswer()">
<div>
  <p>Test getTest</p>
  <input
    type="text"
    name="userInput"
    id="userInput"
    placeholder="Enter your answer"
  >
  <button
    class="enter"
  >Enter</button>
  <button
    class="help"
    (click)="openHelpModal()"
  >Help</button>
</div>

<app-modal
  title="Need help?"
  [isOpen]="modalOpen"
  (closed)="closeHelpModal()"
>
  <div class="modal-body">
    <p> Help with question testhepl </p>
  </div>
</app-modal>
</form>
